@page "/"
@inject IJSRuntime jsRuntime

<PageTitle>Index</PageTitle>

<div class="text-center">
	<h1> Fuel Station System</h1>

	<AuthorizeView>
		<Authorized>
			<h3>Hello, @context.User.Identity.Name!</h3>
		</Authorized>
		<NotAuthorized>
			<h3>Hello, Guest!</h3>
		</NotAuthorized>
	</AuthorizeView>

	<img src="/img/FuelStationLogoOriginal.png" />


</div>

<br />
<br />


<footer class="bg-dark text-center text-white">
	<div class="container p-2">
		<section class="mb-1">
			<!-- Facebook -->
			<a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/omilosepsilonnet/" target="_blank" role="button">
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
					<path fill="currentColor" d="M22 12c0-5.52-4.48-10-10-10S2 6.48 2 12c0 4.84 3.44 8.87 8 9.8V15H8v-3h2V9.5C10 7.57 11.57 6 13.5 6H16v3h-2c-.55 0-1 .45-1 1v2h3v3h-3v6.95c5.05-.5 9-4.76 9-9.95z" /></svg>
			</a>

			<!-- Linkedin -->
			<a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/company/epsilon-net/" target="_blank" role="button">
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-linkedin" viewBox="0 0 16 16">
					<path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z" />
				</svg>
			</a>
			<!-- Youtube -->
			<a class="btn btn-outline-light btn-floating m-1" href="https://www.youtube.com/user/EpsilonNetOfficial" target="_blank" role="button">
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-youtube" viewBox="0 0 16 16">
					<path d="M8.051 1.999h.089c.822.003 4.987.033 6.11.335a2.01 2.01 0 0 1 1.415 1.42c.101.38.172.883.22 1.402l.01.104.022.26.008.104c.065.914.073 1.77.074 1.957v.075c-.001.194-.01 1.108-.082 2.06l-.008.105-.009.104c-.05.572-.124 1.14-.235 1.558a2.007 2.007 0 0 1-1.415 1.42c-1.16.312-5.569.334-6.18.335h-.142c-.309 0-1.587-.006-2.927-.052l-.17-.006-.087-.004-.171-.007-.171-.007c-1.11-.049-2.167-.128-2.654-.26a2.007 2.007 0 0 1-1.415-1.419c-.111-.417-.185-.986-.235-1.558L.09 9.82l-.008-.104A31.4 31.4 0 0 1 0 7.68v-.123c.002-.215.01-.958.064-1.778l.007-.103.003-.052.008-.104.022-.26.01-.104c.048-.519.119-1.023.22-1.402a2.007 2.007 0 0 1 1.415-1.42c.487-.13 1.544-.21 2.654-.26l.17-.007.172-.006.086-.003.171-.007A99.788 99.788 0 0 1 7.858 2h.193zM6.4 5.209v4.818l4.157-2.408L6.4 5.209z" />
				</svg>
			</a>
			<!-- Google -->
			<a class="btn btn-outline-light btn-floating m-1" href="https://www.epsilonnet.gr/?lang=en" target="_blank" role="button">
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 256 256">
					<path fill="currentColor" d="M128 24a104 104 0 1 0 104 104A104.2 104.2 0 0 0 128 24Zm0 184a80 80 0 1 1 56.6-136.6a8 8 0 0 1 0 11.3a7.9 7.9 0 0 1-11.3 0a64.1 64.1 0 1 0 18.2 53.3H128a8 8 0 0 1 0-16h72a8 8 0 0 1 8 8a80.1 80.1 0 0 1-80 80Z" /></svg>
			</a>

		</section>
	</div>
	<div class="text-center p-1" style="background-color:rgba(0, 0, 0, 0.2);">
		<p class="text-center">Copyright &copy; 2023 All rights reserved. || Designed by Christos Kontorias</p>
	</div>
</footer>


@code {
	[CascadingParameter]
	private Task<AuthenticationState> authenticationState { get; set; }

	private async Task DisplayGreetingAlert() {
		var authState = await authenticationState;
		var message = $"You are Log In as {authState.User.Identity.Name} !";
		await jsRuntime.InvokeVoidAsync("alert", message);
	}
}